/* GENERALS */
:root {
  --green: #38EF7D;
  --blue-dark: #0A2E36;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-image: url('/assets/background-pages.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container-page > .container {
  margin-top: 8rem;
}

.text-color-secondary {
  color: #3F5E5A !important;
}

/* NAVBAR HEADER */
.navbar {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  width: calc(100% - 3rem);
  z-index: 99;
  padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
  .navbar {
    top: 1.5rem;
    left: 2.5rem;
    width: calc(100% - 5rem);
    padding: 0.5rem 2rem;
  }
}

.bg-navbar{
  background: rgba(10, 46, 54, 0.8);
  backdrop-filter: blur(2px);
}

.navbar .navbar-brand {
  font-weight: 700;
}

.navbar .navbar-brand small{
  font-size: 0.8rem;
  font-weight: 400;
}

.navbar .nav-link {
  color: #FFF;
}

.navbar .nav-link.active {
  color: var(--green);
  text-decoration: underline;
}

.navbar-toggler {
  border: 1px solid var(--green);
  color: var(--green);
}

.navbar .name-user strong{
  font-weight: 700;
  color: var(--green);
}

/* CARDS PUBLISHER AND SEARCH */

.card-hero {
  position: relative;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1);;
}

.info-publisher {
  z-index: 9;
}

.info-publisher img { 
  max-width: 180px;
}

.info-publisher h1 {
  font-size: 1.7rem;
  font-weight: 400;
  color: #FFF;
}

.content-hero-card:after {
  content: '';
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, #000000 104%);
  border-radius: 0 0 1rem 1rem;
  transition: all 0.2s ease-in-out;
}

.content-publisher {
  position: relative;
}

.content-publisher:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  border-radius: 0  1rem  1rem 0;
  opacity: 0.8;
}

@media (min-width: 767px) {
  .content-publisher:after {
    width: 300px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 40%, #000000 104%);
  }
}

.link-hero:hover .content-hero-card:after {
  height: 250px;
}

.info-hero {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .link-hero:hover .info-hero{
    bottom: 1rem;
  }
}

.info-hero h2 {
  color: #FFF;
  font-weight: 700;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .info-hero h2 {
    font-size: 1.5rem;
  }
}

.info-hero p,
.content-search p {
  color: #FFF;
}

.content-hero-card .badge {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.badge-dc-comics{
  background-color: #0376F2;
}

.badge-marvel-comics{
  background-color: #EB1D25;
  ;
}

/* SEARCH PAGE */

.content-search h1 {
  font-weight: 700;
}

.form-search input {
  z-index: 2;
  position: relative;
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
}

@media (min-width: 768px) {
  .form-search input {
    transform: translateX(4rem);
    padding-right: 4rem;
  }
}

.form-search input:focus {
  background-color: transparent;
  color: #FFF;
  border: 1px solid var(--green);
}

.form-search input::placeholder{
  color: #FFF;
}

.form-search button,
.btn-login {
  z-index: 9;
  position: relative;
  border: 1px solid var(--green);
  background-color: var(--green);
  font-weight: 700;
  color: #FFF;
}

.form-search button:hover,
.btn-login:hover,
.form-search button:first-child:active,
.btn-login:first-child:active {
  background-color: #29d76c;
  border: 1px solid #29d76c;
  color: #FFF;
}

.not-found-heros h2,
.not-found-heros p,
.login-row h1,
.login-row p,
.card-hero-single h1,
.card-hero-single h2,
.card-hero-single p,
.card-hero-single {
  color: var(--blue-dark);
}

/* LOGIN PAGE */

@media (min-width: 767px) {
  .login-row {
    height: 100vh;
  }
}

.logo-fm {
  max-width: 200px;
}

.left-login {
  padding: 3rem;
}

@media (min-width: 768px) {
  .left-login {
    padding: 6rem 7rem;
  }
}

.login-form-content h1 {
  font-weight: 700;
}

.right-login {
  background: url('assets/back-login.jpg');
}

.right-login img {
  max-width: 80%;
  margin-inline: auto;
}

.form-login input {
  border: 1px solid #E5E5E5;
  background-color: transparent;
  color: #ADADAD;
}

.form-login input:focus {
  background-color: transparent;
  color: #ADADAD;
  border: 1px solid var(--green);
}

.form-login input::placeholder{
  color: #ADADAD;
}

.legal-login {
  font-size: 0.8rem;
  font-style: italic;
}

/* SINGLE HERO PAGE */
.card-hero-single img {
  border-radius: 1rem 1rem 0 0 ;
}

@media (min-width: 768px) {
  .card-hero-single img {
    border-radius: 1rem 0 0 1rem;
  }
}

.card-hero-single .card-body {
  padding: 2.5rem;
}

@media (min-width: 768px) {
  .card-hero-single .card-body {
    padding: 3.5rem 6rem;
  }
}

/* FOOTER */

.copyright-link {
  font-weight: 700;
  color: var(--green);
  transition: all 0.2s ease-in-out;
}

.copyright-link:is(:active, :hover) {
  color: #29d76c;
}

.social-media {
  gap: 0.5rem;
}

.social-media a{
  font-size: 0.8rem;
}

.social-media a:not(:last-child) {
  padding-right: 1rem;
}